<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Job Application Wizard</string>
	<key>CFBundleExecutable</key>
	<string>JobApplicationWizard</string>
	<key>CFBundleIdentifier</key>
	<string>com.zsparks.jobapplicationwizard</string>
	<key>CFBundleName</key>
	<string>Job Application Wizard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.0-beta.1</string>
	<key>CFBundleVersion</key>
	<string>3.1.0-beta.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Job Application Wizard reads your calendar to let you tag existing events as interview rounds.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/zacspa/JobApplicationWizard/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>YY0EyAJ+Ce21J9m6kGnRDWaRGJSbLvnrStmrXLpiEto=</string>
</dict>
</plist>
