<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Job Application Wizard</string>
    <key>CFBundleDisplayName</key>
    <string>Job Application Wizard</string>
    <key>CFBundleIdentifier</key>
    <string>com.zsparks.jobapplicationwizard</string>
    <key>CFBundleVersion</key>
    <string>2.2</string>
    <key>CFBundleShortVersionString</key>
    <string>2.2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>JobApplicationWizard</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>SUPublicEDKey</key>
    <string>YY0EyAJ+Ce21J9m6kGnRDWaRGJSbLvnrStmrXLpiEto=</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/zacspa/JobApplicationWizard/main/appcast.xml</string>
</dict>
</plist>
